@import url('https://fonts.googleapis.com/css?family=Arimo');

body {
	font-family: 'Arimo', sans-serif;
	background-color: darkslateblue;
}



td {
	text-align: center;
	box-shadow: 4px 0px 5px -2px rgba(0, 0, 0, 0.27);
}

.CHOOSE_YOUR {
	color:  #484848;
	font-size: 1.125em;
	font-weight: 700;
	
}

.PRICING_PLAN {
	color:  #484848;
	font-size: 1.875em;
	font-weight: 700;
	margin-top: -15px;
}

.STANDART {
	color:  #ffffff;
	font-size: 1.5em;
	font-weight: 700;
}

.ULTIMATE {
	color:  #ffffff;
	font-size: 1.875em;
	font-weight: 700;
}

.PREMIUM {
	color:  #ffffff;
	font-size: 1.5em;
	font-weight: 700;
}

.fas {
	color:  #848484;
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1.167;
	text-align: center;
	margin-right: 10px;
}

.far {
	color:  #848484;
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1.167;
	text-align: center;
	margin-right: 10px;
}

a {
	text-decoration: none;
}

.button {
	font-family: Arimo;
	color:  #ffffff;
	font-size: 1em;
	font-weight: 700;
	line-height: 1.75;
	margin: 0 auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	width: 192px;
	height: 49px;
	
}

.button:hover {
	background-color: aqua;
}

.b1 {
	background-color:  #484848;
}

.b2 {
	background-color:  #89c331;
}

.b3 {
	background-color:  #f04a56;
}

.b4 {
	background-color:  #20807c;
}

.jjj {
	color:  #484848;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.75;
}

.b17 {
	font-size: 3.75em;
	font-weight: 700;
}

.n17 {
	display: flex;
	flex-direction: column;
}

.kk {
	color:  #484848;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
}

.l {
	text-align: left;
}

.lt {
	font-size: 1.75em;
	font-weight: 700;
}

.lb {
	font-size: 1.125em;
	font-weight: 400;
}



