* {
	padding: 0;
	margin: 0;
}

container {
	display: flex;
	width: 1064px;
	margin: 0 auto;
	justify-content: space-between;
}

.clearfix {
	clear: both;
}

body {
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

header {
	padding-top: 50px;
    height: 50px;
	display: flex;
	
}

.logo {
	display: flex;
	align-items: center;
	height: 55px;
}

.imgm {
	
}

img_logo {
	height: 55px;
	width: 55px;
}

.milan:hover {
    color: #f26522;
}

.milan {
    font-family: Verdana;
    color:  #ffffff;
    font-size: 29px;
    line-height: 25px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.holidays {
    font-family: Verdana;
    color:  #ffffff;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.logo:hover .holidays {
    color: #f26522;
}
.logo:hover .milan {
    color: #f26522;
}
.logo:hover .img_logo {
    filter: sepia(100%) hue-rotate(291deg) saturate(10000%) contrast(100%);
}

.menu {
	text-align: right;
}

.contacts {
    font-family: Verdana;
    text-align: right;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    padding-top: 2px;
}

.contacts_a {
    font-family: Verdana;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

.center {
	height: 550px;
	margin-top: 50px;
	flex-wrap: wrap;
}

.ci {
	width: 300px;
	height: 260px;
	font-family: Verdana;
	color:  #ffffff;
	font-size: 1.125em;
	font-weight: 400;
	line-height: 2;
	text-decoration: none;
	text-align: center;
	position: relative;
}

.img_center {
	height: 200px;
	width: 300px;
	border-image: linear-gradient(to bottom, white, black) 30;
	border-width: 2px;
	border-style: solid;
	
}

footer {
	font-family: Verdana;
	color:  #ffffff;
	font-size: 0.75em;
	font-weight: 400;
	line-height: 1.75;
	text-align: center;
	margin-top: 20px;
}

.hiden {
	display: flex;
	position: absolute;
	width: 300px;
	height: 63px;
	background-color: #f26522;
	color: #ffffff;
	margin-left: 2px;
	margin-top: 139px;
	opacity: 0;
	transition: all 1s;
	flex-direction: row;
}

.ci:hover .hiden {
	opacity: 1;
}

.ci:hover .i_text {
	color: #f26522;
}
.from {
	font-family: Verdana;
	color:  #ffffff;
	font-size: 0.625em;
	font-weight: 400;
	line-height: 2.1;
	text-align: left;
}

.evro {
	font-family: Verdana;
	color:  #ffffff;
	font-size: 1.25em;
	font-weight: 400;
	line-height: 1.05;
	text-align: left;
}

.view {
	font-family: Verdana;
	color:  #ffffff;
	font-size: 0.875em;
	font-weight: 400;
	line-height: 1.5;
	text-align: right;
	width: 150px;
	margin-top: 30px;
	margin-right: 15px;
}

.view:after {
	content: "    >";
}

.fe {
	width: 150px;
	margin-top: 7px;
	margin-left: 15px;
}
