* {
	margin: 0;
	padding: 0;
}

.container {
	width: 1160px;
	min-width: 1160px;
	margin: 0 auto;	
}

.clearfix {
	clear: both;
}

/*HEADER*/

.header {
	background: url(../img/header.jpg) no-repeat center top / cover;
	opacity: 0.8;
	height: 1012px;
}

/*TOP HEADER*/

.top_header_bg {
	width: 100%;
	height: 120px;
	background: rgba(73, 71, 63, 0.6);
	position: fixed;
}

.top_header {
	width: 1160px;
	margin: 0 auto;
	height: 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.top_h {
	background-image: url(../img/Polygon%201.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	font-family: Montserrat;
	color:  #ffffff;
	font-size: 2.5em;
	width: 58px;
	height: 67px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo_the {
	font-family: Montserrat;
	color:  #ffffff;
	font-size: 1.998em;
}

.gg {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.logo_ham {
	font-family: Montserrat;
	color:  #18cfab;
	font-size: 1.998em;
	font-weight: 400;
}

.top_logo_all {
	text-decoration: none;
}

.logo {
	width: 170px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.top_menu_li {
	height: 120px;
	text-transform: uppercase;
	width: 690px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top_menu_a {
	font-family: AdobeInvisFont, Montserrat-Bold, Courier, sans-serif;
	font-size: 13pt;
	color: #b8b8b8;
	text-decoration: none;
	height: 60px;
	display: block;
	margin-top: 60px;
}

.top_menu_a:hover {
	color: #18cfab;
	border-bottom: 2px solid #18cfab;
}

/*HEADER CONTENT*/

.flex_content {
	height: 892px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.header_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header_text {
	display: flex;
	flex-direction: column;
	width: 900px;
}

.theme {
	color: #ffffff;
	font-size: 35pt;
	text-transform: uppercase;
}

.we_are {
	color: #ffffff;
	font-size: 70pt;
	text-transform: uppercase;
	margin-top: 45px;
}

.just_buy {
	color: #cacaca;
	font-size: 25.5pt;
	text-transform: uppercase;
	margin-top: 37px;
}

.text_WP {
	color: #18cfab;
}

.header_button {
	width: 360px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	padding-top: 146px;
}

.header_button > a {
	text-decoration: none;
}

.button_header {
	width: 166px;
	height: 61px;
	background-color: #18cfab;
	color: #fff;
	font-size: 12pt;
	margin-left: 28px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	border-top: 5px solid #fff;
	border-radius: 5px;
}

/*SECTION 1*/

.section1 {
	width: 100%;
	height: 374px;
}

.section1_strip {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.green_strip {
	width: 25%;
	background-color: #18cfab;
	height: 7px;
}

.white_strip {
	width: 25%;
	background-color: #fff;
	height: 7px;
}

.section1_main {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.section1_blok {
	height: 367px;
	width: 25%;
	font-size: 20pt;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.dd {
	height: 97px;
	margin-bottom: 60px;
}

.blok_dark {
	background-color: #1c2a33;
	color: #18cfab;
}

.blok_green {
	background-color: #18cfab;
	color: #fff;
}

/*OUR SERVICES*/

.our_services {
	margin: 0 auto;
	height: 221px;
	min-width: 1160px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	align-items: center;
}

.our_services_text {
	font-family: Montserrat;
	color:  #4e4e4e;
	font-size: 2.25em;
	font-weight: 400;
	display: flex;
}

.our_services_stripe {
	height: 7px;
	width: 80px;
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.first_strip {
	height: 1px;
	widows: 76px;
	margin-left: -10px;
	background-color: #18cfab;
}

.second_strip {
	height: 1px;
	widows: 76px;
	margin-right: -10px;
	background-color: #18cfab;
}

.our_services_category {
	height: 300px;
	min-width: 1160px;
	max-width: 1160px;
	margin: 0 auto;
}

.our_services_menu {
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	list-style: none;
}

.service_inform {
	width: 100%;
	height: 100%;
	padding-top: 24px;
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

.services_img {
	width: 254px;
	height: 139px;
	margin-right: 10px;
	background-image: url(../img/Layer%209.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}

.img_info {
	font-family: Montserrat;
	color:  #777777;
	font-size: 0.853em;
	font-weight: 300;
	line-height: 1.833;
	width: 1000px;
	text-align: left;
}

.service {
	position: relative;
	font-family: Montserrat;
	color:  #717171;
	font-size: 0.999em;
	font-weight: 400;
	line-height: 2.503;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:aliceblue;
	border: 1px solid gainsboro;
	text-decoration: none;
	width: 192px;
	height: 73px; 
}

.s1 {
	color:  #ffffff;
	background-color:  #18cfab;
}

.s1::after {
    content: ''; 
    position: absolute;
    left: 20px; bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #18cfab;
   }

/*EVERYTHING*/

.everything {
	background-image: url(../img/section-2.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 474px;	
}

.flex_evr {
	width: 1160px;
	height: 474px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-direction: column;
}

.flex_evr > a {
	text-decoration: none;
	margin-top: 80px;
}

.evsr {
	font-family: Montserrat;
	color:  #18cfab;
	font-size: 2.5em;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
}

.smuth {
	font-family: Montserrat;
	color:  #d8d8d8;
	font-size: 1em;
	font-weight: 400;
	line-height: 2.5;
	text-align: center;
	margin-top: 35px;
}

.but_re {
	font-family: Montserrat;
	color:  #ffffff;
	font-size: 0.813em;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 4px;
	border-top: 5px solid #fff;
	background-color: #18cfab;
	width: 165px;
	height: 61px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*OUR AMAZING*/

.our_amazing {
	width: 100%;
	height: 1212px;
	background-color: #f8fcfe;
}

.nav_amazing {
	width: 609px;
	height: 48px;
	margin-top: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav_amazing > li {
	list-style: none;
	width: 100%;
}

.nav_amazing > li > a {
	font-family: Montserrat;
	color:  #717171;
	font-size: 0.875em;
	font-weight: 400;
	text-decoration: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	height: 100%;
	background-color: #fff;
	border: 1px solid gainsboro;
}

.nav_amazing  li:hover > a {
	color:  #18cfab;
}

.flex_ama {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gal_pic {
	padding-top: 71px;
}

.b_load_more {
	font-family: Montserrat;
	color:  #ffffff;
	font-size: 0.875em;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 4px;
	background-color:  #18cfab;
	width: 165px;
	height: 60px;
	margin-top: 72px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex_ama > a {
	text-decoration: none;
}

.b_load_more > b {
	font-size: 2em;
	margin-right: 5px;
}

/*BREAKING NEWS*/

.breaking_galery {
	height: 600px;
	width: 1160px;
	margin-bottom: 80px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.breaking_cart {
	height: 280px;
	width: 263px;
	background-color: #f8fcfe;
}

.breaking_cart > img {
	width: 263px;
}

.v_l {
	height: 13px;
	width: 1px;
	background-color: gray;
	margin-left: 10px;
	margin-right: 10px;
}

.fff:hover .br_kvs {
	background-color:  #18cfab;
	color: #fff;
}

.fff:hover  .cart_cons > p {
	color:  #18cfab;
}

.br_kvs {
	background-color:  #203e38;
	color: #fff;
	width: 68px;
	height: 66px;
	position: absolute;
	margin-left: 195px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.by_as {
	font-family: Montserrat;
	color:  #777777;
	font-size: 0.874em;
	font-weight: 300;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 20px;
	margin-top: 13px;
}

.cart_cons > p {
	font-family: Montserrat;
	color:  #717171;
	font-size: 1.124em;
	font-weight: 700;
	margin-top: 15px;
	margin-left: 15px;
}

/*PEOPLE SAY*/

.people_say {
	height: 852px;
	width: 100%;
	background-image: url(../img/section-3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.flex_people {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	transition: 0.5;
}

.what_people_say {
	font-family: Montserrat;
	color:  #ffffff;
	font-size: 2.25em;
	font-weight: 400;
	margin-top: 99px;
}

.stripe_say {
	margin-top: 33px;
}

.main_forma {
	width: 44px;
	height: 30px;
	margin-top: 60px;
}

.main_text {
	font-family: Montserrat;
	color:  #bbbbbb;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.875;
	text-align: center;
	margin-top: 30px;
	height: 70px;
}

.actual_studend {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	margin-top: 43px;
	transition: all 1s ease-in-out;
}

.st_name {
	font-family: Montserrat;
	color:  #18cfab;
	font-size: 1em;
	font-weight: 700;
	line-height: 1.688;
}

.st_prof {
	font-family: Montserrat;
	color:  #bbbbbb;
	font-size: 0.813em;
	font-weight: 300;
	line-height: 2.077;
}

.main_photo {
	width: 143px;
	height: 142px;
	border: 10px solid rgba(31, 218, 181, 0.2);
	border-radius: 50%;
	margin-top: 35px;
}

.carusel {
	width: 420px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	margin-top: 69px;
}

.choose_left, .choose_right {
	color: #bbbbbb;
	font-size: 25px;
	text-align: center;
	text-decoration: none;
	width: 31px;
	height: 29px;
	border: 1px solid #bbbbbb;
}

.choose_left:hover, .choose_right:hover {
	color: #fff;
	background-color:  #18cfab;
	border: 1px solid #18cfab;
}

.carusel > ul > li {
	display: inline-block;
	text-decoration: none;
	margin-right: 10px;
}


.st_photo {
	width: 60px;
	height: 59px;
	border: 5px solid rgba(31, 218, 181, 0.2);
	border-radius: 50%;
}

.st_photo_up {
	margin-bottom: 10px;
	transition: 5;
}























