body {
	margin: 0;
}

.pimg1, .pimg2, .pimg3, .pimg4 {
	color:  #ffffff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}

.pimg2, .pimg3, .pimg4 {
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pimg1 {
	background-image: url(../img/bg1.jpg);
	height: 100vh;
	padding-left: 86px;
	text-align: left;
}

.pimg2 {
	background-image: url(../img/bg2.jpg);
	height: 100vh;
}

.pimg3 {
	background-image: url(../img/bg3.jpg);
	height: 100vh;
}

.pimg4 {
	background-image: url(../img/bg4.jpg);
	height: 100vh;
}

section {
	color:  #333333;
	height: 400px;
	text-align: center;
	
	justify-content: center;
	
}

.p1 {
	font-family: Montserrat;
	font-size: 1.375em;
	text-transform: uppercase;
	font-weight: 700;
}

.p2 {
	font-family: Lato;
	font-size: 1.063em;
	font-weight: 400;
}

.p3 {
	font-family: Montserrat;
	color:  #ffffff;
	font-size: 3em;
	font-weight: 700;
	margin-bottom: 10px;
}

.slogan {
	width: 820px;
	border-style: solid;
	border-width: 1px;
	border-color:  #ffffff;
	display: flex;
	
}

.wi {
	font-family: Montserrat;
	color:  #f1ad1d;
	font-size: 3.375em;
	background-color:  #ffffff;
	width: 120px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}

.make {
	font-family: Montserrat;
	color:  #ffffff;
	font-size: 3.375em;
	background-color:  rgba(0, 0, 0, 0.3);
	width: 700px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}
.el {
	background-color:  #f1ad1d;
width: 60px;
height: 3px;
	margin: 0 auto;
}

.layer {
	
}
.wt {
	background-color:  #ffffff;
width: 281px;
height: 3px;
	margin: 0 auto;
}

.lr {
	margin-right: 54px;
}

.l2 {
	margin-bottom: 6px;
}

.l3, .l4 {
	margin-bottom: -10px;
}

