@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	margin: 0;
	padding: 0;
}

.container {
	width: 995px;
	margin: 0 auto;
}

.clear_fix {
	clear: both;
}

.header {
	height: 42px;
	width: 100%;
	box-shadow: 0px 1px 0px 0px #e2e2e2;
	background-color: rgb(241, 243, 244);
}

.top_con {
	height: 42px;
	display: flex;
	justify-content: flex-end;
	
}

.top_tel {
	font-family: Roboto;
	color:  #424242;
	font-size: 0.938em;
	font-weight: 400;
	width: 110px;
	height: 100%;
	padding-right: 10px;
	border-right: 1px solid rgb(206, 206, 206);
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.top_tel > img {
	margin-right: 10px;
}

.top_mail {
	font-family: Roboto;
	color:  #424242;
	font-size: 0.938em;
	font-weight: 400;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.img_mail {
	margin-right: 8px;
	margin-left: 20px;
}

.img_f {
	margin-left: 12px;
}

.f {
	width: 8px;
	height: 16px;
	margin-left: -17px;
}


/*SECTION_NAV*/

.nav {
	height: 130px;
	width: 100%;
}

.nav_flex {
	height: 130px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}

.logo {
	height: 51px;
	margin-left: -10px;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
}

.logo > img {
	width: 74px;
	height: 49px;
	margin-right: 10px;
}

.logo_text {
	display: flex;
	flex-direction: column;
}

.business {
	font-family: Roboto;
	color:  #424242;
	font-size: 2.313em;
	font-weight: 900;
	letter-spacing: 1.5px;
	line-height: 37px;
}

.tagline {
	font-family: Roboto;
	color:  #424242;
	font-size: 0.938em;
	font-weight: 400;
}

.top_nav {
	height: 36px;
	width: 585px;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-content: center;
	align-items: center;
}

.top_nav > li {
	height: 36px;
	font-family: Roboto;
	color:  #424242;
	font-size: 0.938em;
	font-weight: 700;
	letter-spacing: 1.5px;
}

.top_nav > li:first-child {
	text-decoration: none;
	font-family: Roboto;
	color:  #de2b24;
	font-size: 0.938em;
	font-weight: 700;
	list-style: none;
	
}

.top_nav > li:last-child {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin-top: -17px;
	list-style: none;
	width: 171px;
	height: 36px;
	border-radius: 4px;
	background-color:  #de2b24;
}

.top_nav > li > a {
	font-family: Roboto;
	color:  #ffffff;
	font-size: 0.938em;
	font-weight: 700;
	text-decoration: none;
}

.cont {
	width: 1010px;
}

/*SECTION PROVIDING*/

.providing {
	background-image: url(../img/bg_top.jpg);
	
	background-repeat: no-repeat;
	background-position: center;
	margin-left: -10px;
	margin: 0 auto;
	height: 590px;
	width: 1410px;
}

.prov_flex {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-direction: column;
}

.we_prov {
	margin-top: 168px;
	font-family: Roboto;
	color: #ffffff;
	font-size: 2.8em;
	font-weight: 700;
	letter-spacing: 4px;
}

.social {
	font-family: Roboto;
	color: #ffffff;
	font-size: 1.875em;
	font-weight: 400;
	margin-top: -2px;
	letter-spacing: -0.5px;
}

.b_f_c {
	font-family: Roboto;
	color: #ffffff;
	font-size: 1.485em;
	font-weight: 700;
	transform: scaleY(1.01);
	background-color: #f8cd53;
	width: 330px;
	height: 69px;
	margin-top: 31px;
	margin-left: -4px;
	border-radius: 4px;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
}

/*SECTION ABOUT US*/

.about_us {
	width: 911px;
	height: 566px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	
	align-content: center;
	align-items: center;
}

.ab_us {
	font-family: Roboto;
	color: #424242;
	font-size: 2.25em;
	font-weight: 700;
	line-height: 0.722;
	margin-top: 105px;
}

.we_are {
	font-family: Roboto;
	color: #424242;
	font-size: 1.25em;
	font-weight: 400;
	line-height: 1.3;
	margin-top: 3px;
}

.black_stripe {
	background-color: #424242;
	width: 47px;
	height: 5px;
	margin-top: 13px;
}

.inform_block {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	margin-top: 46px;
}

.in_block {
	width: 232px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.titl {
	font-family: Roboto;
	color: #424242;
	font-size: 1.375em;
	font-weight: 700;
	margin-top: 25px;
}

.some_text {
	font-family: Roboto;
	color: #5b5b5b;
	font-size: 0.844em;
	font-weight: 400;
	line-height: 1.1;
	text-align: center;
	margin-top: 10px;
}


/*SECTION OUR WORK*/

.our_work {
	background-color:  #de2b24;
	width: 1400px;
	height: 870px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.o_w {
	font-family: Roboto;
	color:  #ffffff;
	font-size: 2.25em;
	font-weight: 700;
	line-height: 0.722;
	margin-top: 115px;
}

.w_a {
	font-family: Roboto;
	color:  #ffffff;
	font-size: 1.25em;
	font-weight: 400;
	line-height: 1.3;
	margin-top: 3px;
}

.w_s {
	background-color:  #f3f3f3;
	width: 47px;
	height: 5px;
	margin-top: 14px;
}

.gal {
	width: 1024px;
	height: 506px;
	margin-top: 47px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.gal_block1 {
	background-color:  #f35e59;
	width: 255px;
	height: 253px;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.gal_block1 > img {
	margin-top: 75px;
}

.pr_n {
	font-family: Roboto;
	color:  #ffffff;
	font-size: 1.625em;
	font-weight: 700;
	margin-top: 18px;
}

.f_m {
	font-family: Roboto;
	color:  #ffffff;
	font-size: 1em;
	font-weight: 500;
	margin-top: -2px;
}

.gal_block2 {
	width: 255px;
	height: 253px;
}

.gal_block2 > img {
	width: 255px;
	height: 253px;
}

/*SECTION GET IN*/

.get_in {
	margin: 0 auto;
	background-color:  #2a2a2a;
	width: 1400px;
	height: 490px;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.g_i {
	font-family: Roboto;
	color:  #ffffff;
	font-size: 1.813em;
	font-weight: 700;
	line-height: 0.759;
	margin-top: 90px;
}

.s_m {
	width: 256px;
	height: 49px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 30px;
}

.s_m > .s_b:first-child {
	border: 2px solid #de2b24;
}

.s_b {
	width: 47px;
	height: 47px;
	border: 2px solid #515151;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.subscribe {
	font-family: Roboto;
	color:  #cecece;
	font-size: 0.875em;
	font-weight: 400;
	line-height: 1.571;
	margin-top: 33px;
}

.email {
	border-radius: 1px;
	background-color:  #515151;
	width: 661px;
	height: 54px;
	border: none;
	margin-top: 29px;
	padding-left: 22px;
}

.button_subs {
	font-family: Roboto;
	color:  #ffffff;
	font-size: 1.063em;
	font-weight: 700;
	line-height: 1.294;
	width: 153px;
	height: 50px;
	border: 2px solid #515151;
	border-radius: 1px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin-top: 27px;
}

/*FOOTER*/

.footer {
	font-family: Roboto;
	color:  #cecece;
	font-size: 0.875em;
	font-weight: 400;
	line-height: 1.929;
	background-color:  #515151;
	width: 1400px;
	height: 67px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}